@import url('https://fonts.googleapis.com/css2?family=Sen:ital,wght@0,400;0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black:ital,wght@0,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:ital,wght@0,700&display=swap'); 

@config "../tailwind.config.js";
@import "tailwindcss";


body {
  	@apply leading-[normal] m-0;
}
@layer base { *, *::before, *::after { border-width: 0; } }






.custom-dashed {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-image: repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,0.4) 0px,
    rgba(255,255,255,0.4) 8px,
    transparent 8px,
    transparent 18px
  ) 1;
}

.custom{
	  border-left: 2px solid transparent;

  border-image: repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,0.4) 0px,
    rgba(255,255,255,0.4) 8px,
    transparent 8px,
    transparent 18px
  ) 1;
}






@keyframes marquee {
  0% {
    transform: translateX(100%); /* start completely right */
  }
  100% {
    transform: translateX(-100%); /* move to left end */
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}











/* From Uiverse.io by PtNeel */ 
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
